.image-container {
  position: relative; /*allows positioning of child elements relative to this container*/
  display: inline-block; /*allows the container to shrink to fit its content*/
}

.image-container img {
  width: 65%; /*changes width of the image to 65% of the container*/
  height: auto;
  display: block; /*ensures the image is displayed as a block element*/
}

.hover-text {
  font-size: 2rem; /*changes font size of the text*/
  position: absolute; /*positions text relative to image*/
  top: 50%; /*changes position of text vertically*/
  left: 50%; /*changes position of text horizontally*/
  transform: translate(-50%, -50%); /*centres the text*/
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 12px; /*adds padding around the text*/
  border-radius: 4px; /*rounds the corners of the text box*/
  opacity: 0;
  transition: opacity 0s ease;
}

.image-container:hover .hover-text {
  opacity: 1;
}

body {
  color: #45ada6
}

nav {
  color: #45ada6
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;       /* crop image neatly */
  border-radius: 15px;     /* rounded corners */
}

.navigation {
  color:#45ada6
}

.deakin-image {
  border: 3px solid #45ada6; /* adds a border around the image */
} 